APP_PORT="port for run the app"
DATABASE_URL="URL of the MongoDB database to connect"
LOGGER_LEVEL="one of the following logger levels
    (all, trace, debug, info, warn, error, fatal, mark, off)
    if it's not set the app will take info by default"